/* src/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: rgb(31 41 55);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;

	--card: 0 0% 100%;
	--card-foreground: 222.2 84% 4.9%;

	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;

	--primary: 222.2 47.4% 11.2%;
	--primary-foreground: 210 40% 98%;

	--secondary: 210 40% 96.1%;
	--secondary-foreground: 222.2 47.4% 11.2%;

	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;

	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;

	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 40% 98%;

	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;
	--ring: 222.2 84% 4.9%;

	--radius: 0.5rem;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

/* In your global CSS file */
@layer components {
	.button {
		@apply rounded-lg border border-white border-opacity-20 px-4 py-2 font-bold;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		width: 0px;
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@layer utilities {
	.hover-scale-first-child > :first-child {
		transition: transform 0.3s ease; /* Always apply transition */
	}

	.hover-scale-first-child:hover > :first-child {
		transform: scale(1.05); /* Scale up on hover */
	}
}

/* Animation classes */
@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 100;
		transform: translateY(0);
	}
}

.animate-fade-in {
	animation: fade-in-up 0.5s ease-out forwards;
}

/* General styles for the range input */
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	background: #ddd;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

/* Mouse-over effects */
input[type="range"]:hover {
	opacity: 1;
}

input[type="date"] {
	width: 100%;
}

/* The slider handle (thumb) */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: rgb(59 130 246);
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: rgb(59 130 246);
	cursor: pointer;
}

input::-webkit-file-upload-button {
	border: none;
	padding: 0.25rem 0.5rem;
	border-radius: 30px;
	background-color: transparent;
	text-decoration: underline;
}
