
  .sidebar.collapsed {
    max-width: 5rem;
    display: flex;
  }
  
  .collapsed .hide {
    position: absolute;
    visibility: hidden;
  }

  .sidebar-links li svg {
    stroke: rgb(31 41 55);
    width: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
  }
  
  .sidebar-links li a .link {
    animation: fadeIn 0.2s ease-in-out;
  }
  
  .sidebar-links .active:hover {
    background-color: rgb(96 165 250);
  }
  
  .sidebar-links .active {
    text-decoration: none;
    background-color: rgb(59 130 246);
    color: white;
  }
  
  
  .collapsed .tooltip:hover .tooltip__content {
    visibility: visible;
  }
  
  .collapsed .tooltip:focus .tooltip__content {
    visibility: visible;
  }
  
  .collapsed .expand-btn svg {
    transform: rotate(-360deg);
  }
  
  @keyframes fadeIn {
    from {
      width: 4rem;
      opacity: 0;
    }
  
    to {
      opacity: 1;
      width: 100%;
    }
  }